 /* Small */
 @media (max-width: 768px) {
    body {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

@media (max-width: 768px) {
    .header .container {
        display: inline;
        text-align: center;
    }
}

 @media (min-width: 770px) {
    .pricing .plans {
        display: flex;
        flex-basis: 250px;
        justify-content: center;
    }
    
  }