/* Start Global Rules */


/* start var  */

:root {
  --main-color: #dc3545;
  --sec-color: #151515;
  --main--transition: 0.5s
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Jomhuria', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif;
  /* font-size: 14px; */
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;

}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


/* Small */
@media (max-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */


/* start header */

.header {
  background-color: var(--sec-color);
  padding: 30px;

}

.header h2 {
  color: var(--main-color);
  font-size: 2em;
  letter-spacing: 1.5px;
  font-weight: 900;


}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 991px) {
  .header .container {
    display: inline;
    text-align: center;
  }
  .header .links {
    font-size: 13px;
  }
}

.container .links a {
  text-decoration: none;
  padding-left: 22px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
}

.container .links a:hover {
  color: var(--main-color);

}

/* end header */

/* Start Landing Section */



.Landing {
  background-image: url(../images/main-banner.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

.Landing .text-intro {
  color: white;
  position: absolute;
  width: 600px;
  left: 72%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);

}

@media (max-width: 991px) {
  .Landing .text-intro {
    left: 50%;
  }
}


.Landing .text-intro h3 {
  font-size: 5em;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -3px;
  text-transform: uppercase;

}

.Landing .text-intro strong {
  color: var(--main-color);
  font-weight: 400;
  font-weight: 900;
}

.text-intro .btn {
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 8px;
  display: inline-block;
  border: solid 2px transparent;
  transition: var(--main--transition);

}

.btn:hover {
  background-color: transparent;
  border-color: white;
}

.text-intro .btn a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
  font-weight: 500;

}

/* Start Landing Section */

/* start about Section  */

.spc-head {
  text-align: center;
  font-size: 3em;
  color: var(--main-color);
  text-transform: uppercase;
}

.about p {
  line-height: 1px;
  line-height: 40px;
  font-size: 2em;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}



.card {
  background-color: #fff;
  width: 25em;
  height: 100%;
  box-shadow: 0 5px 25px #01010133;
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
  transition: var(--main--transition);

}

@media (max-width: 844px) {
  .card {
    width: 22em;
  }
}

.card:hover {
  transform: scale(1.1);
}

.icon {
  color: var(--main-color);
  font-size: 5em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3 {
  color: var(--main-color);
  font-size: 1.4em;
  font-weight: 700;
  margin: 10px;
}

.info p {
  line-height: 1.5em;

}

/* end about Section  */

/* start class Section */



.class .imags-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.class .imags-container .box {
  position: relative;
  overflow: hidden;
}

.class .imags-container .box:hover .caption {
  bottom: 0;
}

.class .imags-container .box:hover img {
  transform: rotate(3deg) scale(1.2);
}

@media(min-width: 768px) {
  .class .imags-container .box {
    flex-basis: 50%;
  }
}


.class .imags-container .box img {
  max-width: 100%;
  transition: var(--main--transition);
}

.class .imags-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: var(--main--transition);
  bottom: -100%;
}

.class .imags-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

.class .imags-container .box .caption p {
  color: var(--main-color);
}

.class .more {
  display: block;
  background-color: var(--main-color);
  color: white;
  padding: 15px 20px;
  width: fit-content;
  margin: 30px auto;
  text-transform: uppercase;
}

/* end class Section */

/* start membership Section */

.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}

@media (min-width: 770px) {
  .pricing .plans {
    display: flex;
    flex-basis: 250px;
    justify-content: center;
  }

}


.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
}

.plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.plans .plan .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.pricing .plans .plan .head span {
  font-size: 60px;
  font-weight: bold;
}

.pricing .plans .plan .head span::before {
  content: "";
  font-size: 25px;
  position: relative;
  top: -40px;
  margin-right: 15px;
  font-weight: normal;
}

.pricing .plans .plan .head span::after {
  content: "/pound";
  font-size: 20px;
  position: relative;
  right: -15px;
}

.pricing .plans .plan ul {
  border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan ul li {
  padding: 20px;
  position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
  width: 140px;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.pricing .plans .plan .foot a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin: 30px auto;
  color: var(--main-color);
  transition: var(--main--transition);
}

.pricing .plans .plan .foot a:hover {
  background-color: var(--main-color);
  border-color: transparent;
  color: #fff;
}


.pricing .contact-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
}

.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
}

/* end membership Section */
/* start subscribe Section */
.sub {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
    background-image: url("../images/membershipbg.jpg");
    background-size: cover;
  }
  @media (max-width: 767px) {
    .sub form {
      width: 75%;
      position: relative;
      left: 50%;
      transform: translatex(-50%);
    }
  }
  .sub form input {
    display: block;
    padding: 25px;
    margin-bottom: 10px;
    width: 100%;
    background: none;
    color: white;
    border: 1px solid white;
  }
  .sub input::placeholder {
    color: white;
  }
  .sub form input[type="submit"] {
    background-color: var(--main-color);
    border: none;
    color: white;
    text-transform: uppercase;
  }
  
  .sub form input:focus {
    
    outline: none;
  }
  /* end subscribe Section */
  
  /* Start Footer */
  .footer {
    background-color: var(--sec-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
  font-weight: bold;
  color: var(--main-color);
}


/* End Footer */